@charset "UTF-8";
@font-face {
  font-family: 'LatoLight';
  src: url("../assets/fonts/Lato-Light.eot"), url("../assets/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lato-Light.woff") format("woff"), url("../assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url("../assets/fonts/Lato-Bold.eot"), url("../assets/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lato-Bold.woff") format("woff"), url("../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBlack';
  src: url("../assets/fonts/Lato-Black.eot"), url("../assets/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lato-Black.woff") format("woff"), url("../assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'LatoLight';
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #222222;
}

.header-wrap {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header-wrap {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .header-wrap {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-wrap-left {
    height: 120px;
    font-display: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-wrap-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media (max-width: 480px) {
  .header-wrap {
    height: 300px;
  }
  .header-wrap-left {
    height: 150px;
  }
  .header-wrap-right {
    width: 100%;
    text-align: center;
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-products {
  text-align: center;
  margin: 50px 0;
}

.header-products h2 {
  font-family: 'LatoBold';
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.header-products p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.header-products__single-page h2 {
  text-transform: uppercase;
  color: #4d4d4d;
}

.container {
  padding: 0;
}

.logo {
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.logo p {
  margin-left: 10px;
  margin-bottom: 0;
  color: #222222;
}

.logo span {
  font-family: 'LatoBlack';
  color: #f16d7f;
}

.logo:hover {
  -webkit-filter: contrast(100%) brightness(0.9);
          filter: contrast(100%) brightness(0.9);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details {
  position: relative;
  z-index: 1;
  width: 87px;
  padding: 0 10px;
  height: 38px;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-family: 'LatoLight';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.details:hover {
  border: 1px solid #ef5b70;
}

.details[open] .summary-open {
  background: #ffffff;
  padding: 20px;
  position: absolute;
  height: 500px;
  z-index: 1;
  top: 38px;
  width: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.details[open] .summary-open h3 {
  font-family: 'LatoBold';
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}

.details[open] .summary-open ul {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 10px;
  list-style-type: none;
  padding-left: 10px;
}

.details[open] .summary-open a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
}

.details[open] .summary-open a:hover {
  color: #f16d7f;
}

.details[open] .control-down {
  display: none;
}

.details[open] .control-up {
  display: block;
}

.details-ping {
  width: 130px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f16d7f;
  font-family: 'LatoLight';
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
}

.details-ping:hover {
  border: 1px solid #ef5b70;
}

.details-ping[open] summary {
  background: #f16d7f;
}

.summary {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summary__ping {
  color: #222222;
}

.control-down {
  margin-top: 4px;
  margin-left: 5px;
  width: 0;
  height: 0;
  display: inline-bloc;
  border: 5px solid;
  border-color: #838383 transparent transparent transparent;
}

.control-down_white {
  border-color: #ffffff transparent transparent transparent;
}

.control-up {
  display: none;
  margin-bottom: 6px;
  margin-left: 5px;
  width: 0;
  height: 0;
  display: inline-bloc;
  border: 5px solid;
  border-color: transparent transparent #838383 transparent;
}

.control-up_white {
  border-color: transparent transparent #ffffff transparent;
}

.form-subscribe {
  position: relative;
  width: 334px;
}

@media (max-width: 560px) {
  .form-subscribe {
    width: 100%;
  }
}

.form-characteristics {
  margin-top: 60px;
  width: 537px;
  padding: 25px;
}

.wrap-details-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.wrap-details-input label {
  font-family: 'LatoBold';
  font-size: 14px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 10px;
}

.wrap-details-input details {
  position: absolute;
  padding: 0 5px;
  width: 144px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: 400;
  color: #bcbcbc;
}

.wrap-details-input details:hover {
  border: 1px solid #ef5b70;
}

.wrap-details-input details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  list-style: none;
}

.wrap-details-input details[open] {
  height: 150px;
}

.wrap-details-input details[open] .arrow-down {
  display: none;
}

.wrap-details-input details[open] .arrow-top {
  display: block;
}

.wrap-details-input input {
  padding: 5px 10px;
  display: block;
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
}

.wrap-details-input input:hover {
  border: 1px solid #ef5b70;
}

.wrap-details-input input:focus {
  outline-color: #f16d7f;
}

.wrap-details-input .red {
  font-size: 25px;
  color: #ef5b70;
  margin-right: 5px;
  margin-bottom: 4px;
}

.wrap-details-input .green {
  color: #00aa09;
  font-size: 25px;
  margin-right: 5px;
  margin-bottom: 4px;
}

.wrap-details-input .blue {
  color: #3906f0;
  font-size: 25px;
  margin-right: 5px;
  margin-bottom: 4px;
}

@media (max-width: 576px) {
  .form-characteristics {
    margin-top: 20px;
    width: 100%;
    padding: 0px;
  }
  .wrap-details-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrap-details-input details {
    position: relative;
    margin-bottom: 20px;
  }
}

.form-check h3 {
  font-family: 'LatoBold';
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.form-check p {
  font-size: 13px;
  font-weight: 400;
  color: #b3b2b2;
}

.form-check .checkout-as-guest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.form-check .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-check label {
  margin-left: 20px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 768px) {
  .form-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0px;
  }
  .form-check label {
    margin-left: 10px;
  }
}

.form-enter {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-enter h3 {
  font-family: 'LatoBold';
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.form-enter p {
  font-size: 13px;
  font-weight: 400;
  color: #b3b2b2;
}

.form-enter label {
  font-family: 'LatoBold';
  font-size: 12px;
  font-weight: 400;
  color: #222222;
}

.form-enter label span {
  font-size: 17px;
  font-weight: 400;
  color: #ff0d0d;
}

.form-enter .error-message {
  font-family: 'LatoBold';
  font-size: 13px;
  font-weight: 400;
  color: #ff0d0d;
}

@media (max-width: 768px) {
  .form-enter {
    margin-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 350px;
  }
}

@media (max-width: 480px) {
  .form-enter {
    width: 100%;
    height: 400px;
  }
  .form-enter .wrap-buttons {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.input-search {
  padding: 0 10px;
  width: 282px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
}

.input-search:hover {
  outline: 1px solid #ef5b70;
}

@media (max-width: 560px) {
  .input-search {
    width: 100%;
  }
}

.input-subscribe {
  position: absolute;
  left: 0;
  height: 46px;
  width: 334px;
  background-color: #e1e1e1;
  border-radius: 23px;
  border: none;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: rgba #222224, 0.67;
}

.input-subscribe:hover {
  outline: 1px solid #ffffff;
}

.input-subscribe:focus {
  border: none;
  outline: none;
}

@media (max-width: 560px) {
  .input-subscribe {
    width: 80%;
  }
}

.input-email {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
}

.input-email:hover {
  outline: 1px solid #ef5b70;
}

.input-email:focus {
  outline: 1px solid #ef5b70;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding: 20px 25px;
  background: #f16d7f;
  font-family: 'LatoBold';
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
}

.button:hover {
  background: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.button-search {
  width: 35px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  background: url(../assets/img/search.svg) no-repeat center;
  background-size: 25px;
}

.button-search:hover {
  border: 1px solid #ef5b70;
}

.button-add-to-cart {
  padding: 10px;
  position: absolute;
  background: none;
  border: 1px solid #ffffff;
  font-family: 'LatoBold';
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}

.button-add-to-cart:hover {
  border: 1px solid #f16d7f;
  background: #f16d7f;
}

.button-add-to-cart__single-page {
  position: static;
  width: 537px;
  height: 55px;
  font-family: 'LatoBold';
  font-size: 16px;
  font-weight: 700;
  color: #ef5b70;
  background: #ffffff;
  border: 1px solid #ef5b70;
}

.button-add-to-cart__single-page img {
  margin-right: 10px;
}

.button-add-to-cart__single-page:hover {
  background: rgba(241, 109, 127, 0.3);
}

@media (max-width: 768px) {
  .button-add-to-cart__single-page {
    width: 100%;
  }
}

.button-subscribe {
  position: absolute;
  right: 0;
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.button-subscribe:hover {
  border: 1px solid #ffffff;
}

@media (max-width: 560px) {
  .button-subscribe {
    width: 30%;
  }
}

.button-close {
  width: 16px;
  height: 16px;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-close_shopping-cart-page {
  background: #c0c0c0;
}

.button-cart-dropdown {
  display: block;
  text-align: center;
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 15px;
  margin-bottom: 10px;
  font-family: 'LatoBold';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.button-cart-dropdown:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.button-continue {
  margin-top: 40px;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: 'LatoBold';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.button-continue:hover {
  background: #f16d7f;
}

@media (max-width: 480px) {
  .button-continue {
    margin-top: 0px;
  }
}

.button-forgot {
  margin-left: 30px;
  background: none;
  border: none;
  font-family: 'LatoBold';
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.button-forgot:hover {
  color: #ef5b70;
}

@media (max-width: 480px) {
  .button-forgot {
    margin-left: 0;
  }
}

.button-view-all {
  width: 150px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  color: #ef5b70;
}

.button-view-all:hover {
  color: #fff;
  background: #ef5b70;
}

.cart {
  width: 32px;
  height: 38px;
  margin-right: 25px;
  background: url(../assets/img/cart.png) no-repeat center;
}

.cart:hover {
  -webkit-filter: invert(75%);
          filter: invert(75%);
}

@media (max-width: 480px) {
  .cart {
    margin-right: 0px;
  }
}

/*показывать при клике по корзине*/
.cart-dropdown {
  display: none;
  position: absolute;
  z-index: 3;
  padding: 20px;
  top: 100px;
  right: 0;
  background-color: #ffffff;
  border-radius: 5px;
  width: 262px;
}

.product-cart {
  padding: 15px 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(237, 237, 237, 0.74);
}

.product-cart-description h3 {
  margin: 10px 0;
  font-family: 'LatoBold';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.product-cart-description .stars {
  color: #e4af48;
}

.product-cart-description p {
  font-size: 12px;
  text-transform: uppercase;
  color: #f16d7f;
}

.product-cart-description .multiply {
  font-size: 10px;
}

.goods-total {
  margin-top: 15px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'LatoBold';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 768px) {
  .cart-dropdown {
    top: 45px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
  border-top: 1px solid #ececec;
}

@media (max-width: 480px) {
  .nav {
    height: 300px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 25px 0;
  }
}

.menu {
  position: relative;
  padding: 0 220px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

@media (max-width: 992px) {
  .menu {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*Включать при клике по меню*/
.menu-mega {
  display: none;
  width: 846px;
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 25%;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px;
}

.menu-block h3 {
  font-family: 'LatoBold';
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}

.menu-block ul {
  border-top: 1px solid #e8e8e8;
  padding-left: 0px;
  list-style-type: none;
  text-decoration: none;
}

.menu-block a {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
}

.menu-block a:hover {
  color: #f16d7f;
}

@media (max-width: 992px) {
  .menu-mega {
    width: 88%;
    left: 12%;
  }
}

@media (max-width: 768px) {
  .menu-mega {
    width: 88%;
    left: 12%;
  }
}

@media (max-width: 576px) {
  .menu-mega {
    width: 100%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-footer {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}

.menu-footer li:hover a {
  color: #f16d7f;
}

.menu-link {
  font-family: 'LatoBold';
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.menu-link a:hover {
  color: #f16d7f;
}

.slider {
  background: #e8e8e8 url(../assets/img/slider-bg.png) no-repeat -150px;
  height: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__content {
  height: 92px;
  border-left: 12px solid #f16d7f;
  padding-left: 10px;
  font-family: 'LatoBlack';
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider__content h2 {
  line-height: 52px;
  display: block;
  margin: 0;
  font-size: 60px;
  line-height: 50px;
}

.slider__content p {
  display: block;
  margin: 0;
  font-size: 40px;
}

.slider__content span {
  color: #f16d7f;
}

@media (max-width: 768px) {
  .slider {
    background-position-x: -450px;
  }
  .slider__content {
    height: 67px;
  }
  .slider__content h2 {
    font-size: 3rem;
    line-height: 40px;
  }
  .slider__content p {
    font-size: 1rem;
    line-height: 42px;
  }
}

@media (max-width: 576px) {
  .slider {
    height: 400px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background-size: cover;
    background-position: -340px 0px;
  }
  .slider__content {
    height: 65px;
    margin-top: 30px;
  }
  .slider__content h2 {
    font-size: 2.5rem;
    line-height: 35px;
  }
  .slider__content p {
    font-size: 0.8rem;
    line-height: 49px;
  }
}

.slider-single-page {
  position: relative;
  height: 777px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}

.slider-single-page__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 576px) {
  .slider-single-page {
    height: 400px;
  }
  .slider-single-page__image {
    height: 90%;
  }
}

.category {
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

.category img {
  width: 100%;
}

.category-link {
  display: block;
  position: relative;
}

.category-link1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.category-link4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.category .category-link-header {
  padding: 20px 25px;
  position: absolute;
  background: #ffffff;
  top: 20px;
  font-family: 'LatoBlack';
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.category .category-link-header h3 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #222222;
}

.category .category-link-header h2 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #f16d7f;
}

@media (max-width: 992px) {
  .category .category-link-header h3 {
    font-size: 0.7rem;
  }
  .category .category-link-header h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .category {
    padding: 50px 0;
  }
  .category .category-link-header {
    padding: 10px 15px;
  }
  .category .category-link-header h3 {
    font-size: 0.5rem;
  }
  .category .category-link-header h2 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .category {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    justify-items: center;
  }
  .category-link1 {
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .category-link4 {
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (261px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 261px);
  grid-gap: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__button-wrap {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.products__single-page {
  margin-bottom: 70px;
}

.products__product-page {
  -ms-grid-columns: (auto)[auto-fill];
      grid-template-columns: repeat(auto-fill, auto);
  grid-gap: 30px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product__img {
  width: 261px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #e9e9e9;
}

.product__name {
  margin: 20px 0;
  font-smoothing: 'LatoLight';
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.product__name_single-page {
  color: #6f6e6e;
}

.product__prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-smoothing: 'LatoBold';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.product__prise span {
  color: #e4af48;
}

.product button {
  display: none;
}

.product:hover .product__hover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(58, 56, 56, 0.83);
}

.product:hover .button-add-to-cart {
  display: block;
}

.banner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__img {
  position: relative;
}

.banner__offer {
  position: absolute;
  left: 3%;
  top: 25%;
  font-family: 'LatoBold';
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.banner__offer h2 {
  font-size: 53.7px;
}

.banner__offer p {
  font-size: 32.2px;
}

.banner__offer span {
  color: #f16d7f;
}

.banner__benefits {
  background: #222224;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.banner .benefit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  justify-items: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.banner .benefit__text h3 {
  font-family: 'LatoBold';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.banner .benefit__text p {
  text-align: justify;
  width: 90%;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

@media (max-width: 1200px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__img img {
    width: 750px;
  }
  .banner__benefits {
    width: 750px;
  }
}

@media (max-width: 991px) {
  .banner__img img {
    width: 100%;
  }
  .banner__benefits {
    width: 100%;
  }
}

.banner-man {
  margin-top: 25px;
  position: relative;
  height: 100%;
}

.banner-man img {
  width: 100%;
  position: absolute;
}

.banner-man h3 {
  position: absolute;
  right: 10px;
  top: 50px;
  font-family: 'LatoBold';
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.wrap-subscribe {
  margin-bottom: 50px;
  background: url(../assets/img/surfer-bg.png) no-repeat;
  background-size: cover;
}

.subscribe {
  height: 438px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.subscribe__slider {
  height: 100%;
  border-right: 1px solid #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: center;
  padding: 0 25px;
  grid-gap: 20px;
}

.subscribe__slider .text-and-control p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribe__slider .text-and-control h3 {
  margin: 0;
  font-family: 'LatoBold';
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.subscribe__slider .text-and-control h4 {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  color: #222224;
}

.subscribe__slider .control {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (38px)[3];
      grid-template-columns: repeat(3, 38px);
  -ms-grid-rows: 4px;
      grid-template-rows: 4px;
  grid-gap: 10px;
}

.subscribe__slider .control a {
  background: #d6d6d6;
}

.subscribe__slider .control .bg-ping {
  background: #f16d7f;
}

.subscribe__form-send-email {
  text-align: center;
  padding: 0 25px;
}

.subscribe__form-send-email h3 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribe__form-send-email p {
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

@media (max-width: 768px) {
  .subscribe {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .subscribe__slider {
    border-right: none;
  }
}

@media (max-width: 576px) {
  .subscribe {
    height: 570px;
  }
  .subscribe__slider {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
  .subscribe__slider .text-and-control {
    text-align: center;
  }
  .subscribe__slider .control {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.footer .wrap-brand-company-information-shop {
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.footer .wrap-brand-company-information-shop h3 {
  font-family: 'LatoBold';
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.footer .brand__text {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.footer__bottom {
  background: #e6e6e6;
}

.footer .wrap-copiright-social {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .wrap-copiright-social h3 {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.footer .wrap-copiright-social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .wrap-copiright-social .social a {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background: #ffffff;
}

.footer .wrap-copiright-social .social a img {
  display: block;
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.footer .wrap-copiright-social .social a:hover {
  background: #f16d7f;
}

@media (max-width: 768px) {
  .footer .wrap-brand-company-information-shop {
    padding: 25px;
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    grid-gap: 20px;
  }
  .footer .wrap-copiright-social {
    padding: 25px;
    height: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pointer-menu {
  position: absolute;
  top: -6px;
  left: 53px;
  border-bottom: none;
  border-right: none;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumb {
  height: 148px;
  background-color: #f8f3f4;
  margin-bottom: 0;
}

.breadcrumb__header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb__header-nav h2 {
  font-family: 'LatoBold';
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumb__header-nav nav {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.breadcrumb__active {
  ont-weight: 700;
  color: #f16d7f;
}

@media (max-width: 480px) {
  .breadcrumb__header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.ctr-arrow-left {
  position: absolute;
  left: 0;
  top: 45%;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctr-arrow-left:hover {
  background: #ef5b70;
  cursor: pointer;
}

.ctr-arrow-right {
  position: absolute;
  right: 0;
  top: 45%;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctr-arrow-right:hover {
  background: #ef5b70;
  cursor: pointer;
}

.arrow-down {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow-top {
  display: none;
  position: absolute;
  right: 10px;
  top: 11px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #bcbcbc;
  border-left: 1px solid #bcbcbc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-description {
  position: relative;
  height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-description__wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 25px;
  top: -90px;
  height: 730px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.product-description__wrap h4 {
  font-size: 14px;
  font-weight: 700;
  color: #f16d7f;
}

.product-description__wrap h3 {
  margin-top: 10px;
  margin-bottom: 60px;
  font-family: 'LatoBold';
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.product-description__wrap p {
  max-width: 620px;
  text-align: justify;
  margin-bottom: 25px;
}

.product-description__wrap .price {
  font-size: 24px;
  font-weight: 700;
  color: #ef5b70;
  margin-bottom: 40px;
}

.product-description__material-designer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
}

.product-description__material-designer p {
  width: 50%;
  font-family: 'LatoBold';
  font-size: 14px;
  font-weight: 700;
  color: #b9b9b9;
}

.product-description__material-designer span {
  color: #2f2f2f;
}

@media (max-width: 576px) {
  .product-description {
    height: 750px;
  }
  .product-description__wrap {
    height: 830px;
    padding: 50px 25px;
  }
  .product-description__wrap h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .product-description__wrap .price {
    margin-bottom: 10px;
  }
  .product-description__material-designer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.divider {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
}

.divider-gray {
  width: 642px;
  height: 1px;
  background: #eaeaea;
}

@media (max-width: 768px) {
  .divider-gray {
    width: 100%;
  }
}

.conditions {
  padding: 90px 0;
}

.conditions__wrap details {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.conditions__wrap details[open] {
  height: 460px;
}

.conditions__wrap summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  list-style: none;
  font-family: 'LatoBold';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.conditions__wrap summary:hover {
  color: #ef5b70;
}

.conditions__wrap .wrap-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .conditions__wrap details[open] {
    height: 850px;
  }
  .conditions__wrap .wrap-forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .conditions {
    padding: 40px 20px;
  }
  .conditions__wrap details[open] {
    height: 850px;
  }
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.wrapper-filters-sorting-products {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 50px;
}

.filters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.filters h3 {
  font-family: 'LatoBold';
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}

.filters nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 160px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.filters nav a {
  color: #6f6e6e;
}

.filters nav a:hover {
  color: #ef5b70;
}

.filters nav .floral, .filters nav .lace {
  padding: 0 10px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.filters .size-inputs__top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters .size-inputs__bottom-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters .size-inputs input {
  margin-right: 10px;
}

.filters .size-inputs label {
  margin-right: 25px;
  font-family: 'OpenSans';
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}

.filters .size-inputs #size-xl {
  margin-left: 16px;
}

.filters .size-inputs #size-xxl {
  margin-left: 1px;
}

.filters__price input[type="range"] {
  width: 100%;
}

.filters__price p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'OpenSans';
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

.sorting {
  height: 50px;
  background: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
}

.sorting .sort-by, .sorting .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 153px;
  height: 30px;
  background-color: #ffffff;
  padding: 5px;
}

.sorting details {
  width: 60%;
  padding-left: 10px;
  border-left: 1px solid #ebebeb;
}

.sorting details .triangle-up {
  display: none;
  color: #6f6e6e;
}

.sorting details[open] .triangle-down {
  display: none;
  color: #6f6e6e;
}

.sorting details[open] .triangle-up {
  display: inline;
}

.sorting summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  color: #6f6e6e;
}

.sorting .show {
  margin-left: 10px\;;
}

.wrapper-pagination-view-all {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1240px) {
  .filters {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
  .filters nav {
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filters nav .floral, .filters nav .lace {
    padding: 0;
    border: none;
  }
  .filters .size-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filters .size-inputs #size-xl {
    margin-left: 0;
  }
  .filters .size-inputs #size-xxl {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .filters nav {
    width: 100%;
  }
  .wrapper-pagination-view-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper-filters-sorting-products {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .catalog {
    padding: 15px;
  }
  .filters .size-inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filters .size-inputs #size-xl {
    margin-left: 16px;
  }
  .filters .size-inputs #size-xxl {
    margin-left: 1px;
  }
}

.side-bar details {
  margin-bottom: 20px;
}

.side-bar details .triangle-up {
  display: none;
}

.side-bar details[open] .triangle-down {
  display: none;
}

.side-bar details[open] .triangle-up {
  display: inline;
}

.side-bar details[open] summary {
  color: #ef5b70;
}

.side-bar summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 243px;
  border-bottom: 1px solid #ebebeb;
  padding: 0 10px;
  border-left: 5px solid #ef5b70;
  height: 37px;
  font-family: 'LatoBold';
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}

.side-bar nav {
  padding-top: 15px;
  padding-left: 15px;
}

.side-bar nav a {
  display: block;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}

.side-bar nav a:hover {
  color: #ef5b70;
}

@media (max-width: 576px) {
  .side-bar summary {
    width: 100%;
  }
}

.pagination {
  padding: 0px;
  margin: 0px;
  width: 291px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.pagination .page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  margin: 0px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #c4c4c4;
}

.pagination .page-link:hover {
  color: #ef5b70;
}

.pagination .page-link:active {
  color: #ef5b70;
}

.pagination .page-link-activ {
  color: #ef5b70;
}

.benefits {
  background: #222224;
}

.wrapper-benefits {
  height: 341px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-column-gap: 20px;
  color: #fbfbfb;
}

.wrapper-benefits__benefit {
  text-align: center;
  letter-spacing: 0.025em;
}

.wrapper-benefits .benefit-text {
  margin-top: 30px;
}

.wrapper-benefits h3 {
  font-family: 'LatoBold';
  font-size: 20px;
  font-weight: 700;
}

.wrapper-benefits p {
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}

.wrapper-benefits img {
  height: 40px;
}

@media (max-width: 576px) {
  .wrapper-benefits {
    height: 600px;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.shopping-cart {
  padding: 80px 0;
}

.shopping-cart table {
  font-weight: 400;
  color: #656565;
}

.shopping-cart .table {
  border: none;
  border-collapse: separate;
}

.shopping-cart tr {
  border-color: #eaeaea;
}

.shopping-cart th {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}

.shopping-cart .td-product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.shopping-cart .td-product-details__text {
  margin-left: 20px;
}

.shopping-cart .td-product-details h3 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.shopping-cart .td-product-details p {
  font-size: 13px;
  font-weight: 400;
  color: #575757;
}

.shopping-cart .td-product-details span {
  font-weight: 300;
  color: #6f6e6e;
}

.shopping-cart .th-unit-price {
  text-align: center;
}

.shopping-cart .td-unit-price {
  text-align: center;
  vertical-align: middle;
}

.shopping-cart .th-quantity {
  text-align: center;
}

.shopping-cart .td-quantity {
  text-align: center;
  vertical-align: middle;
}

.shopping-cart .td-quantity input {
  width: 54px;
  padding: 0 10px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.shopping-cart .th-shipping {
  text-align: center;
}

.shopping-cart .td-shipping {
  text-align: center;
  vertical-align: middle;
}

.shopping-cart .th-subtotal {
  text-align: center;
}

.shopping-cart .td-subtotal {
  text-align: center;
  vertical-align: middle;
}

.shopping-cart .th-action {
  text-align: center;
}

.shopping-cart .td-action {
  text-align: center;
  vertical-align: middle;
}

.shopping-cart .td-action .wrap-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */