.details
  position: relative
  // width: 100px
  padding: 0 10px
  height: 38px   
  background-color: #cdcdcc
  background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%)
  border: 1px solid #e6e6e6
  border-radius: 3px 0px 0px 3px
  font-family: 'LatoLight'
  font-size: 14px
  font-weight: 300
  letter-spacing: 0.025em
  color: #222222
  &:hover
    border: 1px solid #222222
  &[open]
    summary
      padding: 0
      width: 100%
      background-color: #cdcdcc
      background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%)
    .control-down
      display: none
    .control-up
      display: block
