.form-characteristics
  margin-top: 60px
  width: 537px
.wrap-details-input
  display: flex
  justify-content: space-between
  margin-bottom: 30px
  label
    font-family: 'LatoBold'
    font-size: 14px
    font-weight: 700
    color: #2f2f2f
  details    
    padding: 5px
    width: 144px
    height: 35px
    background: #ffffff
    border: 1px solid #eaeaea
    font-size: 13px
    line-height: 24px
    font-weight: 400
    color: #bcbcbc
    &[open]
      // height: 200px
  summary 
    height: 35px
    list-style: none
  input
    padding: 5px 10px
    display: block
    width: 144px
    height: 35px
    background-color: #ffffff
    border: 1px solid #eaeaea
    font-size: 13px
    line-height: 24px
    font-weight: 400
    color: #bcbcbc
   
  .red
    color: #ef5b70
  .green
    color: #00aa09
  .blue
    color: #3906f0
