.container
  // display: flex
  display: grid
  grid-template-rows: 100px
  // grid-template-columns: 20% 40% 10% 40% 
  // grid-template-columns: 1fr 2fr 1fr 2fr
  // grid-template-columns: auto auto auto auto
  grid-template-columns: repeat(4, auto)
  gap: 2%
  align-items: center
  
