.products
  display: grid
  grid-template-columns: repeat(auto-fill, 261px)
  grid-gap: 35px
  justify-content: center
  &__button-wrap
    margin: 50px 0
    display: flex
    justify-content: center
    width: 100%