.wrap-subscribe
  margin-bottom: 50px
  background: url(../assets/img/surfer-bg.png) no-repeat
  background-size: cover
.subscribe
  height: 438px
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: center
  justify-items: center
  &__slider
    height: 100%
    border-right: 1px solid #ffffff
    display: grid
    grid-template-columns: 1fr 4fr
    align-content: center
    align-items: start
    justify-items: center
    padding: 0 25px
    grid-gap: 20px
    .text-and-control
      p
        margin: 0
        margin-bottom: 20px
        font-size: 16px
        font-weight: 400
        font-style: italic
        letter-spacing: 0.025em
        color: #222224
      h3
        margin: 0
        font-family: 'LatoBold'
        font-size: 16px
        font-weight: 700
        letter-spacing: 0.025em
        color: #f16d7f
      h4
        margin: 0
        font-size: 12px
        font-weight: 300
        color: #222224
    .control
      margin-top: 40px
      display: grid
      grid-template-columns: repeat(3, 38px)
      grid-template-rows: 4px
      grid-gap: 10px
      a
        background: #d6d6d6
      .bg-ping
        background: #f16d7f
  &__form-send-email
    text-align: center
    padding: 0 25px
    h3
      font-size: 24px
      font-weight: 400
      text-transform: uppercase
      letter-spacing: 0.025em
      color: #222224
    p
      font-size: 14px
      text-transform: none
      font-weight: 400
      letter-spacing: 0.025em
      color: #222224

@media (max-width: 768px)
  .subscribe
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, auto)
    align-items: start
    &__slider
      border-right: none

@media (max-width: 576px)
  .subscribe
    height: 570px
    &__slider
      grid-template-columns: 1fr
      grid-template-rows: repeat(2, auto)
      .text-and-control
        text-align: center
      .control
        justify-content: center
