.button-add-to-cart
  padding: 10px
  position: absolute
  background: none
  border: 1px solid #ffffff
  font-family: 'LatoBold'
  font-size: 13px
  font-weight: 700
  color: #ffffff
  &:hover
    border: 1px solid #f16d7f
    background: #f16d7f
  &__single-page
    position: static    
    width: 537px
    height: 55px
    font-family: 'LatoBold'
    font-size: 16px
    font-weight: 700
    color: #ef5b70
    background: #ffffff
    border: 1px solid #ef5b70
    img
      margin-right: 10px
    &:hover
      background: rgba(#f16d7f, 0.3)

@media (max-width: 768px)
  .button-add-to-cart
    &__single-page
      width: 100%
      

