.product
  &__img
    width: 261px
    height: 280px  
    display: flex
    justify-content: center
    align-items: center
    position: relative
    background: #e9e9e9      
  &__name
    margin: 20px 0
    font-smoothing: 'LatoLight'
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    color: #222222
    &_single-page
      color: #6f6e6e
  &__prise
    display: flex
    justify-content: space-between
    font-smoothing: 'LatoBold'
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    color: #f16d7f
    span 
      color: #e4af48
  button
    display: none
  &:hover
    .product__hover
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      top: 0
      width: 100%
      height: 100%
      z-index: 2
      background: rgba(58,56,56,0.83)
    .button-add-to-cart
      display: block
    
  // 
  
